@media all and (min-width: 1501px) {
  #txtNombre, .slidingVertical span {
    font-size: 100px;
  }
  #txtWelcome{
    font-size: 60px;
  }
}
@media all and (max-width: 1500px) {
  #txtNombre, .slidingVertical span {
    font-size: 6vw;
  }
  #txtWelcome{
    font-size: 4vw;
  }
}

html {
  background: url("imgs/bkgrnd.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bkgrnd {
  display: none;
}

body {
  background: transparent;
}

#containerInicial {
 background-color: transparent;
 padding: 0px;
}

#panelInicial {
  background-color: rgba( 16, 71, 93,0.8);
  height: 100vh;
  width: 100%;
  padding: 0px;
}

#panelInfo {
  background-color: white ;
  width: 100%;
  height: 100%;
}

#containerNombre{
  padding: 0px;
  height: 100%;
}

#filaNombre{
  height:80%;
}
.slidingVertical{
  width: 20%;
}

#txtNombre, .slidingVertical span,#txtWelcome {
 color: white;
 font-family: 'Lato', sans-serif;
}

#txtNombre {
  padding-left: 22%
}

#txtWelcome{
  padding-top: 2.5%;
  width: 95%;
}