html {
  background: url("imgs/bkgrnd.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chome - Opera */
}

#bkgrnd {
  display: none;
}

body {
  background: transparent;
}

#panelInicial {
  background-color: rgba( 16, 71, 93,0.8);
  height: 100vh;
  width: 100%;
  padding: 0px;
}

/*Nombre - Welcome*/

@media all and (min-width: 1501px) {
  #txtNombre, .slidingVertical span {
    font-size: 100px;
  }
  #txtWelcome{
    font-size: 60px;
  }
}
@media all and (max-width: 1500px)  {
  #txtNombre, .slidingVertical span {
    font-size: 6vw;
  }
  #txtWelcome{
    font-size: 4vw;
  }
}

#containerNombre{
  padding: 0px;
  height: 100%;
}

#filaNombre{
  height:80%;
}
.slidingVertical{
  width: 20%;
}

#txtNombre, .slidingVertical span, #txtWelcome {
 color: white;
 font-family: 'Lato', sans-serif;
}

#txtNombre {
  padding-left: 22%
}
#punto{
  padding-left: 0;
}

#txtWelcome{
  padding-top: 2.5%;
  width: 95%;
}

/*Down Button*/

#inicialScrollPanel{
  height: 20%;
  position: relative;
}

#inicialButton{
  cursor: pointer;
  padding-top: 15px;
  position: absolute;
  height: 70px;
  width: 100px;
  bottom: 0;
  right: 0;
  background-color: rgba(80,80,80,0.8);
}
.glyphicon {
  color: white;
  font-size: 40px;
}

#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 1.5s infinite;
}
@keyframes jump { 0% { top: 0; } 50% { top: 10%; } 100% { top: 0; } }


/* About ME */
#panelAboutMe {
  background-color: #D3C7A2;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

#aboutMeTitle{
  font-family: 'Roboto Slab', serif;
  font-size: 5vw;
  padding-top: 5%;
  color: #505050;
}

#hrAboutMeTitle {
  background-color: #10475D;
  width: 50%;
  height: 3px;
  border: 0;
}
#aboutMeFila2{
  padding-top: 5%;
}

#aboutMeImg{
  padding-top: 15%;
}

#aboutMePara{
}

#aboutMePara .title{
  font-size: 3vw;
  font-family: 'Bitter', serif;
  color: #10475D;
}

#aboutMePara .para{
  padding-top: 5%;
  font-size: 1.5vw;
}

#aboutMeDetails .title{
  font-size: 3vw;
  font-family: 'Bitter', serif;
  color: #10475D;
}

#aboutMeDetails .details{
  padding-top: 7.5%;
  padding-left: 5%;
  font-size: 1.5vw;
}

#aboutMeDetails .details .tag{
  font-weight: bold;
}

#aboutMeDetails .details .info{
  padding-bottom: 7.5%;
}

#aboutMeInfo{
  padding-top: 12.5%;
  height: 100%;
  font-size: 1.5vw;

}